<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPH | Certify Your Product</title>
</head>
<body>
    <%- include("partial/nav") %>

    <div class="container text-center">
        <div class="fs-2 fw-bolder my-5">Certify Your Product</div>
        <form action="" class="my-5" method="get">
            <label for="gi" class="form-label lead">Enter Your GI Tag Number on Your Product</label>
            <input type="text" id="gi" class="form-control w-100 rounded" placeholder="Enter your GI tag Number...." required>
            <input type="submit" value="CERTIFY" class="my-2 fw-bolder w-100 btn btn-outline-success"> 
        </form>
    </div>

</body>
</html>