<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPH | Contact us</title>
</head>
<body>
    <%- include("partial/nav") %>

    <div class="container">
        <div class="fs-2 fw-bolder text-center">Contact</div>

        <div class="card p-3 col">
            <a href="tel:7006241723" class="btn btn-outline-info my-2 fw-bolder">Call</a>
            <a href="tel:7006241723" class="btn btn-outline-info my-2 fw-bolder">WhatsApp</a>
            <a href="mailto:aalimaslambhat01@gmail.com" class="btn btn-outline-info my-2 fw-bolder">Mail</a>
            <a href="https://Instagram.com/aalim_aslam" class="btn btn-outline-info my-2 fw-bolder">Instagram</a>
            <a href="https://facebook.com/aalim_aslam" class="btn btn-outline-info my-2 fw-bolder">facebook</a>
        </div>

    </div>
</body>
</html>