<div class="container my-5">
    <div class="fs-2 text-center fw-bold">About</div>

    <div class="row align-items-center">
      <div class="col-12 col-md-5 text-center">
        <img src="/img/logo.png" class="my-3 w-50" />
      </div>
      <div class="col-12 col-md-6">
        <div class="img-container">
          <div class="fs-1 fw-bolder">We are The Certified Sellers</div>
          <div class="fs-5 my-2 lead">
            We sell the Quality that you will not find anywhere else
          </div>
          <div class="text-muted">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum,
            voluptates eligendi? Reprehenderit, pariatur distinctio. Modi
            praesentium illum expedita nostrum veniam quas deleniti! Nobis,
            hic repudiandae ratione quia voluptatum, iusto temporibus repellat
            labore animi ipsam dolor quod quis illo fugit ipsa sed pariatur,
            expedita quam corrupti laborum a quo? Distinctio adipisci eaque
            iste commodi laudantium ex earum facilis omnis, alias numquam
            temporibus, veniam quaerat, consectetur dolorem? Reiciendis,
            quibusdam a minima possimus inventore sapiente hic adipisci fuga
            perspiciatis nostrum asperiores maxime odio veritatis fugit et.
            Molestiae suscipit dicta amet cum optio animi. Facere, nulla eum
            perspiciatis suscipit modi ipsum alias non natus.
          </div>
        </div>
      </div>
    </div>
  </div>